:host {
    display: grid;
    place-items: center;
}

.loader {
    border: 13px solid rgba(white, 0.2);
    border-right: 13px solid var(--accent-color);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
